<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Customer</title>
    <!-- Tautan DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
    <!-- Tautan Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <!-- Tautan Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap">
    <!-- Tautan Font Awesome untuk ikon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <!-- Import Css CreateView -->
    <link rel="stylesheet" href="/css/createView.css">
</head>

<body class="container mt-5">
    <div class="header-title">
        <i class="fa-sharp-duotone fa-solid fa-hippo fa-3x text-primary"></i>
        <h1 class="display-4 fw-bold">Create Customer</h1>
    </div>

    <form action="/createcustomer" method="POST" class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <input type="string" class="form-control" id="name" name="name" required>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="string" class="form-control" id="email" name="email" required>
            </div>

            <div class="mb-3">
                <label for="phone" class="form-label">Phone:</label>
                <input type="number" class="form-control" id="phone" name="phone" required>
            </div>

            <div class="mb-3">
                <label for="address" class="form-label">Address:</label>
                <input type="string" class="form-control" id="address" name="address" required>
            </div>
        </div>

        <div class="col-md-6">
            <div class="mb-3">
                <label for="city" class="form-label">City:</label>
                <input type="string" class="form-control" id="city" name="city" required>
            </div>

            <div class="mb-3">
                <label for="state" class="form-label">State:</label>
                <input type="string" class="form-control" id="state" name="state" required>
            </div>

            <div class="mb-3">
                <label for="ProductID" class="form-label">Select Product:</label>
                <input type="text" class="form-control" id="ProductID" name="ProductID" value="" readonly>
                <p></p>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#productModal">
                    Select Product
                </button>
            </div>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Create Customer</button>
        </div>
    </form>

    <!-- Modal untuk Select Product -->
    <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel">Select Product</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- Input untuk pencarian -->
                <div class="modal-body">
                    <table class="table table-bordered" id="productTable">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Sku</th>
                                <th>Name</th>
                                <th>Category</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% products.forEach(product => { %>
                                <tr data-product-id="<%= product._id %>">
                                    <td><input type="checkbox" class="product-checkbox" data-product-id="<%= product._id %>"data-product-name="<%= product.name %>"></td>
                                    <td><%= product.sku %></td>
                                    <td><%= product.name %></td>
                                    <td><%= product.category %></td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="selectProducts()">Select</button>
                </div>
            </div>
        </div>
    </div>

<!-- Tautan jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Tautan DataTables JS -->
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>

<!-- Tautan Select2 JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-rc.0/js/select2.min.js"></script>

<!-- Tautan Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        $(document).ready(function () {
            // Inisialisasi DataTable pada elemen tabel
            var productTable = $('#productTable').DataTable({
                "paging": false,
                "columns": [
                    { 
                        "data": null, 
                        "defaultContent": "<input type='checkbox' class='product-checkbox'/>" 
                    },
                    { "data": "sku" },
                    { "data": "name" },
                    { 
                        "data": "category",  
                    },
                ],
                "select": {
                    style: 'multi',
                    selector: 'td:first-child'
                },
            });

            // Menangani pemilihan baris saat mengklik checkbox
            $('#productTable tbody').on('click', 'input.product-checkbox', function () {
                var checkbox = $(this);
                var row = checkbox.closest('tr');

                // Toggle seleksi baris
                if (checkbox.prop('checked')) {
                    row.addClass('selected');
                } else {
                    row.removeClass('selected');
                }

                // Panggil fungsi untuk menangani pemilihan baris
                handleRowSelection();
            });

            // Menangani pemilihan baris saat mengklik seluruh baris
            $('#productTable tbody').on('click', 'tr', function () {
                var checkbox = $(this).find('input.product-checkbox');
                checkbox.prop('checked', !checkbox.prop('checked')).trigger('change');

                // Panggil fungsi untuk menangani pemilihan baris
                handleRowSelection($(this));
            });
        });

        function selectProduct(productId, productName) {
            var checkbox = $(`tr[data-product-id='${productId}'] input.product-checkbox`);
            checkbox.prop('checked', !checkbox.prop('checked')).trigger('change');

            // Panggil fungsi untuk menangani pemilihan baris
            handleRowSelection(row);
        }

        function handleRowSelection() {
            var checkbox = row.find('input.product-checkbox');
            var selectedProducts = [];

            // Dapatkan semua baris yang dipilih
            $('#productTable tbody tr.selected').each(function () {
                var productId = $(this).data('product-id');
                var productName = $(this).find('td:eq(1)').text();
                selectedProducts.push({ id: productId, name: productName });
            });

            // Setel nilai pada input ProductID
            $('#ProductID').val(selectedProducts.map(product => product.name).join(',')).trigger('change');
        }

        function selectProducts() {
            var selectedProductIds = [];

            // Dapatkan semua baris yang dipilih
            $('#productTable tbody tr.selected').each(function () {
                var productId = $(this).data('product-id');
                selectedProductIds.push(productId);
            });

            // Setel nilai pada input ProductID
            $('#ProductID').val(selectedProductIds.join(',')).trigger('change');
        }
    </script>
</body>

</html>
